---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Date from '../../components/Date.astro';
import DisqusComments from '../../components/DisqusComments.jsx';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title} description={post.data.excerpt}>
  <div class="page-content">
    <div class="wrapper">
      <article itemscope itemtype="http://schema.org/BlogPosting">
        <header class="my-4">
          <h1 class="lead text-5xl mb-3" itemprop="name headline">{post.data.title}</h1>
          <Date dateString={post.data.date} itemProp="datePublished" />
        </header>
        
        <div class="post-content prose lg:prose-xl" itemprop="articleBody">
          <Content />
        </div>
        
        <footer class="my-10">
          <div>
            <a href="/posts" class="py-1 px-4 rounded-md bg-brand-primary text-white no-underline">
              More posts
            </a>
          </div>
          {post.data.comments !== false && (
            <div class="my-4">
              <DisqusComments 
                shortname="nick-tomlin"
                config={{
                  locale: "en_US",
                  identifier: post.data.disqusId || post.slug,
                  title: post.data.title
                }}
                client:load
              />
            </div>
          )}
        </footer>
      </article>
    </div>
  </div>
</BaseLayout>