---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import PostList from '../components/PostList.astro';
import SocialLinks from '../components/SocialLinks.astro';

const posts = await getCollection('posts');
const sortedPosts = posts.sort((a, b) => 
  new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<BaseLayout title="Nick Tomlin: Full Stack Engineer">
  <div class="page-content">
    <div class="wrapper">
      <section class="mb-2 flex flex-col items-center md:flex-row md:mb-4 lg:my-16">
        <picture>
          <source srcset="/images/headshot_uaj0dm_c_scale,w_373.webp" type="image/webp"/>
          <source srcset="/images/headshot_uaj0dm_c_scale,w_624.webp 2x" type="image/webp"/>
          <img
            class="my-face"
            sizes="(max-width: 1200px) 100vw, 1200px"
            srcset="
/images/headshot_uaj0dm_c_scale,w_190.jpg 190w,
/images/headshot_uaj0dm_c_scale,w_373.jpg 373w,
/images/headshot_uaj0dm_c_scale,w_508.jpg 508w,
/images/headshot_uaj0dm_c_scale,w_624.jpg 624w"
            src="/images/headshot_uaj0dm_c_scale,w_373.jpg"
            alt="Nick Tomlin - Headshot" />
        </picture>
        <article class="text-center">
          <h1 class="my-name text-6xl lead tracking-wide mb-2 lg:text-8xl">Nick Tomlin</h1>
          <h2 class="text-3xl mb-2 lg:text-5xl">Full Stack Engineer</h2>
          <h3 class="text-xl lg:text3xl">
            From an idea, to production, and beyond.
          </h3>
          <div class="grid grid-cols-2 gap-4 my-2 md:grid-cols-none md:flex justify-center transition-colors lg:text">
            <SocialLinks />
          </div>
        </article>
      </section>

      <section class="mb-2 flex flex-col md:flex-row md:mb-4 lg:my-16">
        <article class="mb-8">
          <h1 class="decorated-heading font-semibold text-3xl lead tracking-wide">Latest Posts</h1>
          <PostList posts={sortedPosts.slice(0, 4)} />
          <p class="text-secondary text-md underline">
            <a href="/posts" class="py-1 px-4 rounded-md bg-brand-primary text-white no-underline">
              All posts
            </a>
          </p>
        </article>
      </section>
    </div>
  </div>
</BaseLayout>