---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import PostList from '../components/PostList.astro';

const posts = await getCollection('posts');
const sortedPosts = posts.sort((a, b) => 
  new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<BaseLayout title="Posts - Nick Tomlin">
  <div class="page-content">
    <div class="wrapper">
      <h1 class="lead text-5xl mb-3">Posts</h1>
      <div>
        <PostList
          postTitleClassname="text-2xl"
          posts={sortedPosts}
        />
      </div>
    </div>
  </div>
</BaseLayout>