---
import site from '../../site.config.js';
---

<header class="relative my-4 min-h-56">
  <div class="wrapper flex items-center justify-between site-header">
    <div class="mt-2">
      <a href="/"><img class="max-h-10" src="/images/nt-logo.svg" alt={site.title}/></a>
    </div>

    <nav class="header-nav space-x-6 ml-8">
      <a href="/" class="hover:underline hover:text-brand-secondary transition-all">Home</a>
      <a href="/about" class="hover:underline hover:text-brand-secondary transition-all">About</a>
      <a href="/posts" class="hover:underline hover:text-brand-secondary transition-all">Posts</a>
    </nav>
  </div>
</header>