---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import '../styles/tailwind.css';
import '../styles/syntax-coldark.css';
import '../styles/main.css';
import '../styles/utilities.css';

export interface Props {
  title?: string;
  description?: string;
}

const { title = "Nick Tomlin: Full Stack Engineer", description = "I'm Nick Tomlin, a full stack engineer that loves JavaScript and poetry." } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
  <meta name="description" content={description}>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
</body>
</html>